<br><br><br>
<div class="container">
    <p class="text-center top">
        <!-- <i class="fa fa-smile-o fa-5x"  aria-hidden="true"></i><br> -->
        <!-- <i class="far fa-smile-beam fa-10x" aria-hidden="true"></i><br> -->
        <i class="far fa-grin-beam fa-10x" aria-hidden="true"></i><br>
 
        <b class="text-success">Order placed Successfully <br> order id : {{orderID}} 
        <br>(Please take screenshot for further reference)<br><br>
        </b>

        <b class="text-danger"> Shopkeeper will accept your order after Confirmation.<br>
            if you entered something incorrect , Your order will get cancel.
        </b>
        <br><br>
        <b class="text-success"> Thanks for using the app. <br>
            This is beta version, we are continuously improving.<br>
             Please provide your feedback on our whatsapp number : 9620142021
        </b>
        
    </p>
</div>