/* .footer{
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #222222;
}
.container span{
    margin-left: -40px;
    color: white;
    font-size: small;
}
.btn{
    margin-left: 89%;
    margin-top: -50px;
} */
